*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

button {
  margin: 0;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
  box-shadow: none;
  outline: none;
}

input, textarea, select, option {
  font: inherit;
}

textarea {
  resize: none;
}

.center-txt {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#new-task {
  font-size: 24px;
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 50px;
}

#date {
  font-size: 24px;
}

.container {
  max-width: 1100px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.sub-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 30px 0;
  border: 1px solid black;
}

.basket {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.basket-label {
  padding: 20px;
  text-align: center;
  border-radius: 15px 15px 0 0;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

#doing div.basket-label {
  background-color: red;
}

#waiting div.basket-label {
  background-color: green;
}

#review div.basket-label {
  background-color: yellow;
}

#done div.basket-label {
  background-color: blue;
}

.kanban-container {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  gap: 5px;
  height: 100%;
}

.kanban-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  height: 100%;
  width: 100%;
  gap: 5px;
  padding: 0 10px 0 5px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
}

.title {
  width: 190px;
}

.counter {
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  justify-content: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: white;
  border-radius: 10px;
  z-index: 10;
  display: none;
  margin: auto;
  padding: 20px;
  width: 800px;
  height: 400px;
}

.modal form {
  display: grid;
  grid-template-rows: 1fr 3fr 2fr 1fr;
  height: 100%;
}

.form-nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.form-meta {
  width: 50%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.modal input[name="title"] {
  font-size: 32px;
  border: none;
  outline: none;
}

.overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.modal.open,
.overlay.open {
  display: block;
}